<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CardSearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<CardSearcher.Properties.Settings>
   <setting name="Scale" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Opacity" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="Top" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="Left" serializeAs="String">
    <value>30</value>
   </setting>
  </CardSearcher.Properties.Settings>
	</userSettings>
</configuration>